RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteCond $1 !^(images|js|admin|themes|robots\.txt|index\.php) [NC]

#RewriteRule ^(.*)$ $1.php
RewriteRule . index.php [L]

